.item {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0 1rem;
    border-radius: 9999px;
    transition: all 0.2s;
    cursor: pointer;
    white-space: nowrap;
    font-size: 1rem;
    font-weight: 400;
    color: var(--clr-primary-title);
}

.itemActive {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(var(--clr-primary-title-rgb), 0.4);
    opacity: 1;
}

.itemInactive {
    opacity: 0.7;
}

.itemInactive:hover,
.itemInactive.focused {
    opacity: 1;
    background-color: var(--foc-primary);
}

.itemActive.focused {
    background-color: var(--foc-primary);
    border-color: var(--foc-primary);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    border-radius: 0.375rem;
    width: 1.375rem;
    height: 1.375rem;
}
