.container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  animation: fadeIn 0.5s ease-out;
  min-height: calc(100vh - 281px);
}

.loadingText {
  color: var(--clr-primary-title);
}

.emptyText {
  color: rgba(var(--clr-primary-title-rgb), 0.6);
}

