.tabContainer {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.tabSeparator {
  color: rgba(var(--clr-primary-title-rgb), 0.3);
  margin: 0 0.5rem;
}

