.tabContainer {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
}

.tabSeparator {
  color: rgba(var(--clr-primary-title-rgb), 0.3);
  margin: 0 0.5rem;
}

.tab {
  cursor: pointer;
  transition: all 0.2s;
}

.tabActive {
  font-weight: bold;
  color: var(--clr-primary-title);
}

.tabInactive {
  font-weight: normal;
  color: rgba(var(--clr-primary-title-rgb), 0.5);
}

