.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 6.25rem 10rem 0;
  background: linear-gradient(to right, #17142C, #2D2533, #3D2E3D);
}

.contentLayout {
  display: flex;
  flex-direction: row;
}

.formSection {
  width: 50%;
}

.pageTitle {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.2px;
  margin-bottom: 3rem;
  color: var(--clr-primary-title);
}

.pageSubtitle {
  font-size: 1.875rem;
  font-weight: bold;
  line-height: 1.2px;
  margin-bottom: 1rem;
  color: var(--clr-primary-title);
}

.pageDescription {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.2px;
  color: var(--clr-primary-title);
}

.actionList {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.actionList > * + * {
  margin-top: 1.5rem;
}

.errorText {
  color: #f87171;
  font-weight: 600;
  font-size: 1.125rem;
}

.successText {
  color: #4ade80;
  font-weight: 600;
  font-size: 1.125rem;
}

.submitButtonWrapper {
  margin-top: 1rem;
}

.submitButton {
  width: 100%;
  font-size: 1.25rem;
  padding: 1rem;
  font-weight: bold;
}

.avatarSection {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  flex-direction: column;
}

.avatarPreviewWrapper {
  position: relative;
  width: 20rem;
  height: 20rem;
  border-radius: 40px;
  outline: 4px solid var(--clr-primary-title);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(var(--clr-secondary-button), 0.25);
}

.avatarPreviewImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s;
}

.avatarPlaceholderText {
  font-size: 200px;
  font-weight: bold;
  font-family: Gotham;
  line-height: 220px;
  color: var(--clr-primary-title);
  transition: opacity 0.3s;
}

.avatarPlaceholderWrapper {
  position: relative;
  width: 20rem;
  height: 20rem;
  background-color: var(--foc-primary);
  border-radius: 40px;
  outline: 4px solid var(--clr-primary-title);
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.avatarNameText {
  margin-top: 2.5rem;
  font-size: 3rem;
  font-weight: bold;
  color: var(--clr-primary-title);
  line-height: 1px;
}

