.bannerContainer {
  animation: slideInFromLeft 1s ease-out;
  margin-top: 6.25rem;
  margin-left: 6.25rem;
  min-height: calc(100vh - 650px);
}

.bannerFixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10;
  background-color: var(--clr-primary);
}

.bannerBg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat;
}

.bannerScrollFade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--clr-primary);
  transition: opacity 0.075s;
}

.eventStatusBadge {
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.bannerContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bannerContent > * + * {
  margin-top: 1.25rem;
}

.classificationContainer {
  display: flex;
  flex-direction: row;
}

.classificationBadge {
  padding: 0.25rem 0.75rem;
  border-radius: 0.375rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: var(--clr-secondary);
  color: var(--clr-primary-title);
}

.categoryContainer {
  height: 7.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.categoryContainer > * + * {
  margin-left: 1.25rem;
}

.categoryName {
  font-size: 1.5rem;
  font-weight: 500;
}

.eventTitle {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: var(--font-family-title);
}

.eventDescription {
  font-size: 1.25rem;
  font-weight: 500;
  max-width: 42rem;
}

.gradientLeft {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  width: 33.33%;
  background: linear-gradient(to right, var(--clr-primary), rgba(var(--clr-primary-rgb), 0.4), transparent);
}

.gradientBottom {
  position: absolute;
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  height: 66.66%;
  background: linear-gradient(to top, var(--clr-primary) 0%, rgba(var(--clr-primary-rgb), 0.8) 40%, transparent 100%);
}

.logoImage {
  max-width: 25rem;
  max-height: 10rem;
  object-fit: contain;
  filter: drop-shadow(0 20px 13px rgba(0,0,0,0.15));
}

.categoryLogo {
  width: auto;
  height: 5rem;
  object-fit: contain;
}

