.errorContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  color: var(--clr-icon);
  font-size: 1.5rem;
}

.errorContainer > * + * {
  margin-top: 1rem;
}

.backButton {
  border-radius: 9999px;
}

