.btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
    font-weight: bold;
    font-family: var(--font-family-button);
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s ease-out;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.primary {
    background-color: rgba(var(--clr-primary-title-rgb), 0.15);
    border-color: rgba(var(--clr-primary-title-rgb), 0.2);
    color: var(--clr-primary-title);
}

.primary:hover:not(:disabled),
.primary:focus:not(:disabled),
.primary.focused:not(:disabled) {
    background-color: var(--clr-primary-button);
    color: var(--clr-text-primary-button);
    border-color: transparent;
}

.secondary {
    background-color: var(--clr-secondary-button);
    color: var(--clr-text-secondary-button);
    border-color: transparent;
}

.secondary:hover:not(:disabled),
.secondary:focus:not(:disabled),
.secondary.focused:not(:disabled) {
    box-shadow: 0 0 20px 0 var(--foc-secondary);
}

.tertiary {
    background-color: transparent;
    color: var(--clr-text-tertiary-button);
    border-color: var(--clr-text-tertiary-button);
}

.tertiary:hover:not(:disabled),
.tertiary:focus:not(:disabled),
.tertiary.focused:not(:disabled) {
    background-color: var(--clr-text-tertiary-button);
    color: var(--clr-primary);
    box-shadow: 0 0 10px 1px var(--foc-tertiary);
}

.arrow { margin-right: 0.75rem; flex-shrink: 0; }
