.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
}

.track {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.spinner {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    border: 4px solid #fff200;
    border: 4px solid var(--foc-primary, #fff200);
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
